<?xml version="1.0"?>
<config>
    <modules>
        <Enigma_All>
            <version>1.0</version>
			<platform>ce</platform>
        </Enigma_All>
    </modules>

    <global>
        <blocks>
            <enigmaall>
                <class>Enigma_All_Block</class>
            </enigmaall>
            <adminhtml>
                <rewrite>
                    <notification_window>Enigma_All_Block_Notification_Window</notification_window>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <enigmaall_setup>
                <setup>
                    <module>Enigma_All</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </enigmaall_setup>
            <enigmaall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </enigmaall_write>
            <enigmaall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </enigmaall_read>
        </resources>
        <models>
            <enigmaall>
                <class>Enigma_All_Model</class>
            </enigmaall>
        </models>

        <helpers>
            <enigmaall>
                <class>Enigma_All_Helper</class>
            </enigmaall>
        </helpers>
    </global>
    <admin>
        <routers>
            <enigmaall_admin>
                <use>admin</use>
                <args>
                    <module>Enigma_All</module>
                    <frontName>enigmaall_admin</frontName>
                </args>
            </enigmaall_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <enigmaall module="Enigma_All">
                    <file>enigma_all.xml</file>
                </enigmaall>
            </updates>
        </layout>

        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <enigmaall>
                                            <title>dasENIGMA - All</title>
                                        </enigmaall>
                                        <enigmastore>
                                            <title>dasENIGMA - Extensions Store</title>
                                        </enigmastore>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <enigmaall_exts>
                        <type>singleton</type>
                        <class>enigmaall/feed_extensions</class>
                        <method>check</method>
                    </enigmaall_exts>
                    <enigmaall_check>
                        <type>singleton</type>
                        <class>enigmaall/feed_extensions</class>
                        <method>checkExtensions</method>
                    </enigmaall_check>
                    <enigmaall_upds>
                        <type>singleton</type>
                        <class>enigmaall/feed_updates</class>
                        <method>check</method>
                    </enigmaall_upds>
                </observers>
            </controller_action_predispatch>
            <adminhtml_block_html_before>
                <observers>
                    <enigmaall_tabs_sorting>
                        <type>singleton</type>
                        <class>enigmaall/tabsSorting</class>
                        <method>prepareEnigmaTabs</method>
                    </enigmaall_tabs_sorting>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <default>
        <enigmaall>
            <feed>
                <url>svn.dasenigma.com/updates/?tag=feed&amp;community=1</url>
                <use_https>0</use_https>
                <check_frequency>86400</check_frequency>
                <enabled>1</enabled>
                <interests>INFO,PROMO,UPDATE_RELEASE,NEW_RELEASE,INSTALLED_UPDATE</interests>
            </feed>
        </enigmaall>
    </default>
</config>