<?xml version="1.0"?>

<!--
/**
 * Open Biz Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file OPEN-BIZ-LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mageconsult.net/terms-and-conditions
 *
 * @category   Magecon
 * @package    Magecon_Rma
 * @version    1.0.0
 * @copyright  Copyright (c) 2013 Open Biz Ltd (http://www.mageconsult.net)
 * @license    http://mageconsult.net/terms-and-conditions
 */
-->

<config>
    <modules>
        <Magecon_Rma>
            <version>1.0.0</version>
        </Magecon_Rma>
    </modules>
    <frontend>
        <secure_url>
            <rma>/rma/</rma>
        </secure_url>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>Magecon_Rma</module>
                    <frontName>rma</frontName>
                </args>
            </rma>
        </routers>
    </frontend>
    <admin>
        <routers>
            <rma>
                <use>admin</use>
                <args>
                    <module>Magecon_Rma</module>
                    <frontName>rma</frontName>
                </args>
            </rma>
        </routers>
    </admin>
    <global>
        <blocks>
            <rma>
                <class>Magecon_Rma_Block</class>
            </rma>
        </blocks>
        <helpers>
            <rma>
                <class>Magecon_Rma_Helper</class>
            </rma>
        </helpers>
        <models>
            <rma>
                <class>Magecon_Rma_Model</class>
                <resourceModel>rma_mysql4</resourceModel>
            </rma>
            <rma_mysql4>
                <class>Magecon_Rma_Model_Mysql4</class>
                <entities>
                    <rma>
                        <table>magecon_rma</table>
                    </rma>
                    <products>
                        <table>magecon_products</table>
                    </products>
                    <history>
                        <table>magecon_history_comments</table>
                    </history>
                    <address>
                        <table>magecon_address</table>
                    </address>
                    <status>
                        <table>magecon_status</table>
                    </status>
                </entities>
            </rma_mysql4>
        </models>
        <resources>
            <rma_setup>
                <setup>
                    <module>Magecon_Rma</module>
                    <class>Magecon_Rma_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rma_setup>
            <rma_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rma_write>
            <rma_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rma_read>
        </resources>
        <template>
            <email>
                <rma_email_template_rma translate="label" module="rma">
                    <label>New RMA</label>
                    <file>rma/new_rma.html</file>
                    <type>html</type>
                </rma_email_template_rma>
                <rma_email_template_rma_update translate="label" module="rma">
                    <label>RMA Update</label>
                    <file>rma/rma_update.html</file>
                    <type>html</type>
                </rma_email_template_rma_update>
                <rma_email_template_rma_department translate="label" module="rma">
                    <label>RMA Department</label>
                    <file>rma/rma_department.html</file>
                    <type>html</type>
                </rma_email_template_rma_department>
            </email>
        </template>
        <sales>
            <rma>
                <statuses>
                    <pending translate='label'>
                        <label>Pending</label>
                        <position>1</position>
                    </pending>
                    <approved translate='label'>
                        <label>Approved</label>
                        <position>2</position>
                    </approved>
                    <canceled translate='label'>
                        <label>Canceled</label>
                        <position>3</position>
                    </canceled>
                    <canceled_by_customer translate='label'>
                        <label>Canceled by customer</label>
                        <position>4</position>
                    </canceled_by_customer>
                    <complete translate='label'>
                        <label>Complete</label>
                        <position>5</position>
                    </complete>
                </statuses>
            </rma>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <rma>
                    <file>rma.xml</file>
                </rma>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <rma>
                    <file>rma.xml</file>
                </rma>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <rma>
            <item_attributes_settings>
                <comment_enable>1</comment_enable>
            </item_attributes_settings>
            <address_settings>
                <first_name>Firstname</first_name>
                <second_name>Secondname</second_name>
                <street>Street address</street>
                <city>City</city>
                <country>US</country>
            </address_settings>
            <settings>
                <rma_period>100</rma_period>
                <shipping_method>Fixed</shipping_method>
                <rma_name>RMA Department</rma_name>
                <shipping_information>Our site offers you a full 30 days in which to return products that meet the criteria for return. Please note that items returned are subject to a 15% restocking fee less applicable rma. You, as the client, are responsible for all return shipping and handling charges on returned merchandise. All returns must be accompanied by an RMA number (Returned Merchandise Authorization) from our site.
                </shipping_information>
            </settings>
            <email>
                <enabled_rma>1</enabled_rma>
                <identity_rma>sales</identity_rma>
                <template_rma>rma_email_template_rma</template_rma>
                <enabled_rma_update>1</enabled_rma_update>
                <identity_rma_update>sales</identity_rma_update>
                <template_rma_update>rma_email_template_rma_update</template_rma_update>
                <enabled_rma_department>1</enabled_rma_department>
                <identity_rma_department>sales</identity_rma_department>
                <template_rma_department>rma_email_template_rma_update</template_rma_department>
                <rma_email>rma_department@example.com</rma_email>
            </email>
        </rma>
    </default>
</config>