<?xml version="1.0"?>
<config>
    <modules>
        <Perception_Bannerpro>
            <version>1.0.3</version>
        </Perception_Bannerpro>
    </modules>
    <frontend>
        <routers>
            <bannerpro>
                <use>standard</use>
                <args>
                    <module>Perception_Bannerpro</module>
                    <frontName>bannerpro</frontName>
                </args>
            </bannerpro>
        </routers>
        <layout>
            <updates>
                <bannerpro>
                    <file>bannerpro.xml</file>
                </bannerpro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bannerpro>
				<use>admin</use>
				<args>
					<module>Perception_Bannerpro</module>
					<frontName>bannerpro</frontName>
				</args>
			</bannerpro>
        </routers>
    </admin>
	<default>
        <bannerpro>
            <general>
                <isenabled>1</isenabled>
            </general>
            <columns>
                <showcolumns>id,image,title,status,action</showcolumns>
                <truncatelongtextafter>60</truncatelongtextafter>
            </columns>
            <images>
                <showurl>0</showurl>
                <showbydefault>1</showbydefault>
                <width>75</width>
                <height>75</height>
            </images>
            <defaults>
                <limit>20</limit>
                <page>1</page>
                <sort>id</sort>
                <dir>desc</dir>
            </defaults>
        </bannerpro>
    </default>
    <adminhtml>
		<menu>
			<perception>
			  <title>Homepage Slider</title>
                          <action>bannerpro/adminhtml_bannerpro</action>
			  <sort_order>71</sort_order>
			</perception>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Perception_Bannerpro>
							<title>Bannerpro Module</title>
							<sort_order>10</sort_order>
						</Perception_Bannerpro>
						<system>
							<children>
								<config>
									<children>
										<bannerpro translate="title" module="bannerpro"> 
											<title>Banner Slider Settings</title>
											<sort_order>50</sort_order>
										</bannerpro>
									</children>							
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bannerpro>
					<file>bannerpro.xml</file>
				</bannerpro>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bannerpro>
                <class>Perception_Bannerpro_Model</class>
                <resourceModel>bannerpro_mysql4</resourceModel>
            </bannerpro>
            <bannerpro_mysql4>
                <class>Perception_Bannerpro_Model_Mysql4</class>
                <entities>
                    <bannerpro>
                        <table>bannerpro</table>
                    </bannerpro>
                    <bannerpro_store>
                        <table>bannerpro_store</table>
                    </bannerpro_store>
                </entities>
            </bannerpro_mysql4>
        </models>
        <resources>
            <bannerpro_setup>
                <setup>
                    <module>Perception_Bannerpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannerpro_setup>
            <bannerpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerpro_write>
            <bannerpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerpro_read>
        </resources>
        <blocks>
            <bannerpro>
                <class>Perception_Bannerpro_Block</class>
            </bannerpro>
        </blocks>
        <helpers>
            <bannerpro>
                <class>Perception_Bannerpro_Helper</class>
            </bannerpro>
        </helpers>
		 <blocks>
          <adminhtml>
            <rewrite>
              <widget_grid_column>Perception_Bannerpro_Block_Widget_Grid_Column</widget_grid_column>
            </rewrite>
          </adminhtml>
        </blocks>
    </global>
</config>