<?xml version="1.0"?>
<config>
	<tabs>
        <mst translate="label" module="menupro">
            <label>Magebay.com</label>
            <sort_order>300</sort_order>
        </mst>
    </tabs>
	<sections>
		<menupro translate="label" module="menupro">
			<label>Menu Creator Pro - Setting</label>
			<tab>mst</tab>
			<frontend_type>text</frontend_type>
			<sort_order>777</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<info>
                    <frontend_model>menupro/system_config_info</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                </info>
				<!--license translate="label">
                    <label>License</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
						<key translate='label'>
                    		<label>Key </label>
                    		<frontend_type>text</frontend_type>
                    		<sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
							<backend_model>menupro/saveconfig</backend_model>
                    	</key>
						<licenseinfo translate='label'>
                    		<label>License Info</label>
                    		<frontend_type>label</frontend_type>
                    		<sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
							<frontend_model>menupro/system_config_form_field_notification</frontend_model> 
                    	</licenseinfo>
                    </fields>
                </license-->
                <setting translate="label">
                    <label>Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
						<enable translate='label'>
                    		<label>Enable Menu Creator Pro: </label>
                    		<frontend_type>select</frontend_type>
                    		<sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <!-- <show_in_website>1</show_in_website> -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                    	</enable>
                    	<jquery translate='label'>
                    		<label>Load jQuery </label>
                    		<frontend_type>select</frontend_type>
							<comment>Select No if the jQuery libraries already exist to remove jQuery conflicts. Select Yes to load jquery library from MCP module(jquery-1.8.2.min.js - size/92Kb).</comment>
                    		<sort_order>195</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!-- <show_in_website>1</show_in_website> -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                    	</jquery>
						<sidemenu translate='label'>
                    		<label>Enable Side panel menu script (if menu group responsive is "Responsive side panel") </label>
                    		<frontend_type>select</frontend_type>
							<comment>Select Yes to load jquery script for side panel menu(Touchwide on mobile devices) - size/7.8Kb.</comment>
                    		<sort_order>196</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!-- <show_in_website>1</show_in_website> -->
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                    	</sidemenu>
						
                    </fields>
                </setting>
				<performance translate="label">
                    <label>Optimization Performance</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                    	<refresh translate="label">
			                <label>Refresh to update</label>
			                <frontend_type>button</frontend_type>
			                <frontend_model>menupro/system_config_form_button</frontend_model>
			                <comment>Press REFRESH to update if you have do some changes on any menu item or group(such as rename, delete, add or edit, translate, re-order position ..etc) but it does not showing the new changes on frontend.</comment>
			                <sort_order>120</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			            </refresh>
						<develop_mode translate='label'>
                    		<label>DEVELOPER MODE </label>
                    		<frontend_type>select</frontend_type>
							<comment>Select NO when you have done the menus and ready to publish, then MCP will process to generate menu items as static HTML codes to speed up loading time. It will be very fast. This is very helpful option when you have enabled the "Auto show sub category".</comment>
                    		<sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <!--<show_in_store>1</show_in_store>-->
                            <show_in_website>1</show_in_website>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                    	</develop_mode>
                    </fields>
                </performance>
			</groups>
		</menupro>
	</sections>
</config>